---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <script src="script.js" defer></script>
    <title>Experience Timeline</title>
</head>
<body>

<div class="timeline-container">
    <div class="timeline">
        <div class="timeline-item" data-year="2015">
            <h3>Western Washington University</h3>
            <p>Bachelors of Science in Physics, Minors in Mathematics and Astronomy</p>
        </div>
        <div class="timeline-item" data-year="2012-2014">
            <h3>Northwest Florida State College</h3>
            <p>A.A. in Physics</p>
        </div>
        <!-- Add more timeline items here -->
    </div>
</div>

</body>
</html>
