---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    <script src="script.js" defer></script>
    <title>Experience Timeline</title>
</head>
<body>

    <div class="pb-0">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="title title--h3"><img class="title-icon" src="../assets/icons/dark/icon-education.svg" alt=""> Education</h2>
                <div class="timeline">
                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Western Washington University</h5>
                        <span class="timeline__period">September 2015 — June 2019</span>
                        <p class="timeline__description">Bachelors of Science in Physics, Minors in Mathematics and Astronomy</p>
                    </article>
    
                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Northwest Florida State College</h5>
                        <span class="timeline__period">2012 — 2014</span>
                        <p class="timeline__description">A.A. in Physics</p>
                    </article>
                    <!-- Add more education timeline items here -->
                </div>
            </div>
            
            <div class="col-12 col-lg-6">
                <h2 class="title title--h3"><img class="title-icon" src="../assets/icons/dark/icon-experience.svg" alt=""> Experience</h2>
                <div class="timeline">
                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Data Analyst/REVOPS</h5>
                        <span class="timeline__period">April 2022 — Present</span>
                        <p class="timeline__description">Sisu Software Inc.</p>
                    </article>
                    
                    <!-- Item -->
                    <article class="timeline__item">
                        <h5 class="title title--h5 timeline__title">Quality Engineer</h5>
                        <span class="timeline__period">July 2019 — March 2022</span>
                        <p class="timeline__description">Silfab Solar</p>
                    </article>
                    <!-- Add more experience timeline items here -->
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>
